.about-us {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.about-us__list {
  margin-left: 30px;
}

.about-us__item {
  padding-bottom: 33px;
}

.about-us__paragraph {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
