.about-production {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 58px;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 32px;

  border: 1px solid #ededed;
}

.about-production__header {
  margin: 0;
  margin-left: 27px;
  padding: 0;
  padding-bottom: 25px;
}

.about-production__video-img {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.about-production__wrapper {
  margin: 0;
  margin-left: 27px;
  padding: 0;
}

.about-production__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  line-height: 24px;
  color: #444444;
}
