.site-title {
  margin: 0 9%;
  padding: 0;
  padding-top: 71px;
  padding-bottom: 75px;

  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;

  &--page-main {
    padding-bottom: 120px;
  }
}

@media (min-width: @tablet-width) {
  .site-title {
    padding-top: 119px;
    padding-bottom: 66px;

    font-size: 43px;
    line-height: 50px;
  }
}
