.about-production {
  display: flex;
  flex-direction: column;
  margin: 0 9%;
  margin-bottom: 58px;
  padding: 0;
}

.about-production__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 14%;

  border: 1px solid #ededed;

  &::before {
    content: "";
    display: block;
    margin: 0;
    padding: 0;

    width: 33px;
    height: 33px;

    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
  }
}

.about-production__video {
  position: relative;
}

.about-production__video-icon {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;

  top: calc(50% - 38px);
  left: calc(50% - 50px);

  width: 101px;
  height: 77px;

  fill: #62d1ba;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.about-production__video-img {
  display: block;
  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
}

.about-production__description {
  margin: 0;
  margin-left: 13%;
  margin-right: 17%;
  margin-bottom: 25px;
  padding: 0;

  line-height: 24px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .about-production {
    margin: 0 6.5%;

    &:hover .wrapper__inner--about-production {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .about-production__header {
    margin: 0;
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 29px;
    padding-left: 45px;

    border-bottom: none;
  }

  .about-production__video {
    order: -1;

    width: 100%;
  }

  .about-production__description {
    margin: 0 6%;
    margin-bottom: 35px;

    width: 88%;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .about-production {
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-top: 0;

    width: 1050px;
  }

  .about-production__header {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    top: 46px;
    right: 139px;

    width: 150px;

    border: none;

    &::before {
      margin-bottom: 19px;
    }
  }

  .about-production__video {
    order: -1;
    margin: 0;
    padding: 0;

    width: 684px;
    height: auto;

    &::after {
      top: calc(50% - 38px);
    }
  }

  .about-production__video-img {
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;
  }

  .about-production__description {
    margin: 0;
    margin-bottom: 45px;
    margin-right: 67px;
    margin-left: 76px;
    padding: 0;

    width: 223px;
  }
}
