.feedback {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  &::after {
    content: "";
    display: block;
    margin: 0;
    margin-top: 43px;
    padding: 0;

    width: 100%;
    height: 6px;

    background-color: #ffffff;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain;
    background-position: right;
  }
}

.feedback__inner {
  margin: 0;
  padding: 0;

  min-width: 320px;
  max-width: 1050px;
}

.feedback__item {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0;
}

.feedback__text {
  margin: 0;
  padding: 0;

  line-height: 30px;
  color: #444444;
}

.feedback__author {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
}

.feedback__contact {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: normal;
  line-height: 30px;
  color: #444444;
}

.feedback__button {
  display: block;

  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  width: 130px;
  height: 50px;

  border: 1px solid #ececec;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38%;

  cursor: pointer;

  &--left {
    background-image: url("../img/left-arrow.svg");
  }

  &--right {
    background-image: url("../img/right-arrow.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    &::after {
      margin-top: 68px;

      height: 15px;
    }
  }

  .feedback__title {
    order: 0;
  }

  .feedback__item {
    margin-top: 43px;
    margin-bottom: 55px;
    order: 2;
  }

  .feedback__text {
    font-size: 17px;
    line-height: 30px;
  }

  .feedback__author {
    order: 3;
    font-size: 18px;
    line-height: 24px;
  }

  .feedback__contact {
    margin-top: 5px;
  }

  .feedback__button {
    border: none;
    background-size: 60%;
  }

  .feedback__smallwidth {
    order: 1;
    width: 23%;
    min-width: 176px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    margin-bottom: 75px;

    &::after {
      margin-top: 68px;

      height: 20px;
    }
  }

  .feedback__inner {
    display: flex;
    margin: 0 auto;

    width: 1050px;
  }

  .feedback__item {
    margin-bottom: 37px;
  }

  .feedback__text {
    padding-right: 85px;

    font-size: 17px;
  }

  .feedback__author {
    margin-bottom: 75px;
  }

  .feedback__smallwidth {
    margin-top: 10px;
    width: 175px;
  }
}
