.page-main {
  margin: 0;
  padding: 0;

  font-size: 15px;
}

.page-main__wrapper {
  margin: 0;
  padding: 0;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 180%;
  background-position-x: center;
  background-position-y: -20px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 180%;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;

    &--mobile-only {
      display: none;
    }
  }

  .page-main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -46px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 150%;
    background-position-y: bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 150%;
    }

    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 12px;

      background-color: #f8f8f8;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 240%;
      background-position: top center;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin: 0;
  }

  .page-main__wrapper {
    margin-top: -44px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 100%;
    }

    border-top: 1px solid #ececec;

    &::after {
      height: 15px;
    }
  }
}
